stages: [deploy]

deploy:
  stage: deploy
  tags: [server-runner]
  variables:
    GIT_STRATEGY: none
  resource_group: image-tags
  only: 
    - master
  before_script:
    - set -euo pipefail
    - cd /home/omgadmin/image-tags
    - '[ -d .git ] || { git init; git symbolic-ref HEAD refs/heads/master; }'
    - ENC_USER="${deploy_on_image_token:-}"
    - GIT_PASSWORD="${deploy_on_image_var:-}"
  script:
    
    
    - git fetch --prune "https://${ENC_USER}:${GIT_PASSWORD}@gitlab.com/a.kudryashov/image-tags.git" master
    - git reset --hard FETCH_HEAD